@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Revalia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: #090937;
  max-width: 1920px;
  margin: 0px auto;
  color: white;
  overflow: hidden;
}

.phone {
  width: 1920px;
  height: 900px;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
  background-position: center;
}

header {
  position: relative;
}
.topheader {
  display: flex;
  justify-content: space-between;
  padding: 49px 120px;
  align-items: center;
}

.logo a {
  color: white;
  font-size: 50px;
  opacity: 0.9;
  font-family: "Revalia", sans-serif;
}

.menu ul {
  padding-top: 10px;
  display: flex;
  gap: 30px;
}

.menu ul a {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.open {
  text-decoration: underline 2px;
  text-underline-offset: 20px;
}

.header-main {
  width: 1920px;
  height: 1px;
  background: white;
  opacity: 0.15;
}

.phone_img {
  position: absolute;
  z-index: -1;
  opacity: 0.09;
}

.phone_img img {
  width: 1920px;
}

h1 {
  color: white;
  text-align: center;
  font-family: Montserrat;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  opacity: 0.9;
  padding-top: 5cqmin;
}

.main {
  padding: 100px 120px;
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
}

h2 {
  color: #e9f2ff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  opacity: 0.9;
}
.footer_menu {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0px auto;
  text-align: center;
  padding-bottom: 25px;
}

.footer {
  padding-top: 20px;
}

.main_footer {
  width: 1920px;
  height: 1px;
  background: white;
  opacity: 0.5;
}

.form {
  width: 650px;
  height: 320px;
  border: solid 1px rgba(255, 255, 255, 0.626);
  border-radius: 15px;
  background: #090937bc;
}
.from div label {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

.name {
  padding: 35px 0px 20px 60px;
}

.number {
  padding: 20px 0px 40px 60px;
}

.email {
  padding: 10px 0px 40px 60px;
}

.form input {
  border-radius: 50px;
  border: 1px solid #26325f;
  width: 360px;
  height: 54px;
  flex-shrink: 0;
  background: rgba(25, 25, 64, 0.6);
  padding-left: 20px;
  color: #71719c;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.number label {
  margin-right: 61px;
}

.name label {
  margin-right: 90px;
}

.email label {
  margin-right: 82px;
}

.button_form {
  padding-top: 20px;
}

.button_form button {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 250% */
  text-transform: uppercase;
  border-radius: 40px;
  border: 1.5px solid #f61b2c;
  flex-shrink: 0;
  width: 650px;
  height: 50px;
}

.input label {
  color: #c3c3df;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* ..................................... */

.phone_main {
  width: 1920px;
  position: absolute;
  z-index: -1;
}

.blure_1 {
  width: 347.906px;
  height: 919.153px;
  flex-shrink: 0;
  border-radius: 233.5px;
  background: linear-gradient(
    180deg,
    rgba(156, 84, 212, 0.27) 0%,
    rgba(212, 84, 84, 0.11) 100%
  );
  filter: blur(150px);
  justify-content: flex-end;
  position: absolute;
}

#b_1 {
  top: -100px;
  left: -100px;
}

.vector1 {
  transform: rotate(90deg);
  position: absolute;
  top: -600px;
  left: 100px;
}

#b_2 {
  top: -100px;
  left: 1700px;
}

#b_3 {
  top: -500px;
  left: 600px;
  opacity: 0.7;
}
