@media screen and (width < 1600px) {
    body {
      max-width: 1601px;
    }
    html {
      scroll-behavior: smooth;
    }
    .phone {
      background-size: cover;
      width: 1601px;
      height: 870px;
      position: absolute;
    }
    .topheader {
      display: block;
      padding: 30px 10px;
    }
    .menu ul {
      display: none;
    }
    .logo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 34%;
    }

    #side-checkbox {
      display: none;
    }
    .side-panel {
      white-space: nowrap;
      position: fixed;
      z-index: 999999;
      top: 0;
      left: -360px;
      background: #0d0147f6;
      transition: all 0.5s;
      width: 350px;
      height: 100vh;
      box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
      color: #fff;
      padding: 40px 20px;
    }
    .side-title {
      text-align: center;
      font-family: "Revalia", sans-serif;
      font-size: 20px;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 2px solid #e60d0d;
    }
    .side-button-1-wr {
      text-align: center;
    }
    .side-button-1 {
      display: inline-block;
    }
    .side-button-1 .side-b {
      text-decoration: none;
      position: relative;
      padding: 12px 10px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
    }
    .side-button-1 .side-b:hover,
    .side-button-1 .side-b:active,
    .side-button-1 .side-b:focus {
      color: #fff;
    }
    .side-button-1 .side-b:after,
    .side-button-1 .side-b:before {
      position: absolute;
      height: 4px;
      left: 50%;
      bottom: -6px;
      content: "";
      transition: all 280ms ease-in-out;
      width: 0;
    }
    .side-button-1 .side-open:after,
    .side-button-1 .side-open:before {
      background: green;
    }
    .side-button-1 .side-close:after,
    .side-button-1 .side-close:before {
      background: red;
    }
    .side-button-1 .side-b:before {
      top: -6px;
    }
    .side-button-1 .side-b:hover:after,
    .side-button-1 .side-b:hover:before {
      width: 100%;
      left: 0;
    }
    /* Переключатели кнопки 1 */
    .side-button-1 .side-close {
      display: none;
    }
    #side-checkbox:checked
      + .side-panel
      + .side-button-1-wr
      .side-button-1
      .side-open {
      display: none;
    }
    #side-checkbox:checked
      + .side-panel
      + .side-button-1-wr
      .side-button-1
      .side-close {
      display: block;
    }
    #side-checkbox:checked + .side-panel {
      left: 0;
    }
    .side-button-2 {
      font-size: 30px;
      border-radius: 20px;
      position: absolute;
      z-index: 1;
      top: 8px;
      right: 8px;
      cursor: pointer;
      transform: rotate(45deg);
      color: #bfe2ff;
      transition: all 280ms ease-in-out;
    }
    .side-button-2:hover {
      transform: rotate(45deg) scale(1.1);
      color: #fff;
    }

    .logo a {
      font-size: 45px;
      display: flex;
      padding-bottom: 20px;
    }
    .button_top_header button {
      display: none;
    }
    .mainheader {
      padding: 0px 20px 0px 20px;
    }
    h1 {
      font-size: 28px;
      line-height: 35px;
      padding-bottom: 60px;
      padding-top: 130px;
    }
    .h1 {
      font-size: 28px;
      line-height: 35px;
    }
    .butheader {
      display: none;
    }
    .one_hr {
      position: absolute;
      top: 870px;
    }
    .but_main_header {
      padding-bottom: 230px;
    }
    .but_main_header button {
      width: 250px;
      height: 48px;
    }
    .why_me h1 {
      font-size: 20px;
    }
    .why_me {
      padding: 10px;
    }
    .grid_me {
      grid-template-columns: 1fr;
    }
    .grid_me div {
      width: 95%;
      height: auto;
      margin: 0px auto;
    }
    .name_g {
      font-size: 15px;
    }
    .desc_g {
      padding: 5px 15px 15px 15px;
      font-size: 14px;
    }
    .framework_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    .framework_1 p {
      margin: 0px;
      padding: 10px;
      font-size: 20px;
      padding-left: 35%;
      font-family: "Revalia", sans-serif;
    }
    .framework_2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    .framework_1,
    .framework_2 {
      background: #1f1f38;
      width: 100%;
    }
    .framework_2 p {
      padding: 10px;
      font-size: 20px;
      padding-left: 35%;
      font-family: "Revalia", sans-serif;
    }
    .question_answer {
      display: none;
    }
    .mobile_q_a {
      padding-left: 7%;
      margin: 0px auto;
      display: grid;
      gap: 20px;
    }
    .mobile_q_a div {
      width: 95%;
      height: auto;
      border: solid 1px rgba(255, 255, 255, 0.649);
    }
    .mobile_q_a div button {
      margin: 20px;
      color: #ffffffef;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 30px;
    }
    .footer_menu h2 {
      font-size: 13px;
    }
    .footer_menu {
      padding: 10px 30px;
    }
    .mobile_q_a h1 {
      margin: 0px;
      padding: 40px;
    }
    .buts_1{
      margin: 0px auto;
      text-align: center;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.45px;
      text-transform: uppercase;
      width: 80%;
      height: 50px;
      border: solid 1px rgba(255, 255, 255, 0.609);
      border-radius: 10px;
    }
  }

  @media screen and (width > 1601px) {
    .menu_header_button,
    #side-checkbox,
    .side-button-2,
    .phoneSSS,
    .mobile_q_a {
      display: none;
    }
  }

  @media screen and (width < 600px) {
    .but_main_header {
      padding-bottom: 100px;
    }
  }
