@media screen and (width < 500px) {
  body {
    max-width: 500px;
  }
  html {
    scroll-behavior: smooth;
  }
  .phone {
    background-size: cover;
    width: 500px;
  }
  .topheader {
    display: block;
    padding: 20px 50px;
  }
  .menu ul {
    display: none;
  }
  .logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
  }

  #side-checkbox {
    display: none;
  }
  .side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: #0d0147f6;
    transition: all 0.5s;
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 40px 20px;
    position: fixed;
  }
  .side-title {
    text-align: center;
    font-family: "Revalia", sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #e60d0d;
  }
  /* Оформление кнопки на странице */
  .side-button-1-wr {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
  }
  .side-button-1 {
    display: inline-block;
  }
  .side-button-1 .side-b {
    text-decoration: none;
    position: relative;
    padding: 12px 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  .side-button-1 .side-b:hover,
  .side-button-1 .side-b:active,
  .side-button-1 .side-b:focus {
    color: #fff;
  }
  .side-button-1 .side-b:after,
  .side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
  }
  .side-button-1 .side-open:after,
  .side-button-1 .side-open:before {
    background: green;
  }
  .side-button-1 .side-close:after,
  .side-button-1 .side-close:before {
    background: red;
  }
  .side-button-1 .side-b:before {
    top: -6px;
  }
  .side-button-1 .side-b:hover:after,
  .side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
  }
  /* Переключатели кнопки 1 */
  .side-button-1 .side-close {
    display: none;
  }
  #side-checkbox:checked
    + .side-panel
    + .side-button-1-wr
    .side-button-1
    .side-open {
    display: none;
  }
  #side-checkbox:checked
    + .side-panel
    + .side-button-1-wr
    .side-button-1
    .side-close {
    display: block;
  }
  #side-checkbox:checked + .side-panel {
    left: 0;
  }
  /* Оформление кнопки на панеле */
  .side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #bfe2ff;
    transition: all 280ms ease-in-out;
  }
  .side-button-2:hover {
    transform: rotate(45deg) scale(1.1);
    color: #fff;
  }

  .logo a {
    font-size: 45px;
    display: flex;
    padding-bottom: 20px;
  }
  .menu ul a {
    margin: 0px auto;
    font-size: 25px;
    white-space: nowrap;
  }
  .open {
    text-decoration: none;
  }
  .button_top_header button {
    display: none;
  }
  .mainheader {
    padding: 0px 20px 0px 20px;
  }
  h1 {
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 60px;
    padding-top: 130px;
  }
  .h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .butheader {
    display: none;
  }
  .one_hr {
    padding-top: 230px;
  }
  .why_me {
    padding: 120px 50px;
  }
  .grid_me {
    grid-template-columns: 1fr;
  }
  .grid_me div {
    width: 335px;
  }
  .name_g {
    font-size: 19px;
  }
  .desc_g {
    padding: 5px 15px 15px 15px;
    font-size: 15px;
  }
  .framework_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .framework_1 p {
    padding: 10px;
    font-size: 30px;
    padding-left: 25%;
    font-family: "Revalia", sans-serif;
  }
  .framework_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .framework_2 p {
    padding: 10px;
    font-size: 30px;
    padding-left: 25%;
    font-family: "Revalia", sans-serif;
  }
  .no_quest button {
    margin: 0px auto;
    width: 200px;
    height: 50px;
    font-size: 15px;
  }
  .question_answer {
    max-width: 500px;
  }
  .start_q_a div {
    width: 450px;
    height: auto;
    opacity: 0.7;
    margin: 5px;
  }
  .question_answer p {
    font-size: 10px;
    padding: 0px;
    font-weight: 300;
    line-height: 10px; /* 166.667% */
  }
  .phoneSSS a {
    color: #bdbde9;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

@media screen and (width > 500px) {
  .menu_header_button,
  #side-checkbox,
  .side-button-2,
  .phoneSSS {
    display: none;
  }
}
