@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: #fff;
  max-width: 1920px;

  margin: 0px auto;
  padding: 0px 140px;
  overflow-x: hidden;
}

.top_header {
  display: flex;
  justify-content: space-between;
  padding: 42px 0px;
  align-items: center;
}

.menu ul {
  display: flex;
  gap: 27px;
  color: var(--1, #2a2367);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.phone_num_top_header {
  display: flex;
  gap: 10px;
}

.phone_num_top_header p {
  color: var(--1, #2a2367);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.time_top_header p {
  color: var(--1, #2a2367);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 34%;
}

.phone_num_top_header {
  align-items: center;
}

.button_top_header button {
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 177px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--2, #6b5af9);
}

.background {
  width: 85vw;
  height: auto;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--2, #6b5af9);
}

.grid_price {
  display: grid;
  margin: 0px auto;
  max-width: 65vw;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid {
  width: 334px;
  height: auto;
  border-radius: 10px;
  background: #fff;
  flex-shrink: 0;
}

.header_trafic {
  text-align: center;
  padding-top: 30px;
}

.trafic {
  color: #7c7c7c;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 12px;
}

.name_trafic {
  color: var(--1, #2a2367);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 12px;
}

.sell {
  color: var(--1, #2a2367);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sell_p {
  color: var(--1, #2a2367);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header_trafic hr {
  width: 100%;
  margin: 15px 0px;
  height: 1.5px;
  background: #6b5af9;
}

.main_trafic {
  padding: 10px 40px 10px 40px;
}

.main_trafic li::before {
  content: "";
}

.main_trafic li {
  color: var(--1, #2a2367);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 15px 0px;
}

.main {
  padding-bottom: 150px;
}
.button_price {
  padding: 20px 0px;
  text-align: center;
}

.button_price button {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 275px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #43cd93;
}

.footer {
  padding: 10px 0px 40px 0px;
}

.call_we_footer {
  padding-top: 75px;
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact_footer {
  display: flex;
  padding-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.contact_footer p {
  color: var(--2, #6b5af9);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact_footer button {
  border-radius: 5px;
  background: var(--2, #6b5af9);
  width: 341px;
  height: 60px;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hr_footer {
  padding: 40px 0px;
}

.hr_footer hr {
  width: 1360px;
  background: #6b5af9;
  height: 0.5px;
}

.adres_footer p {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.adres_footer {
  display: flex;
  justify-content: space-between;
}

.b1_f button {
  background-image: url("img/telegram_footer.png");
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
}

.b2_f button {
  background-image: url("img/whatsapp_footer.png");
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
}
.tg_call_footer {
  display: flex;
  gap: 20px;
}

.num_footer {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 20px;
}

.logo_footer img {
  width: 200px;
}
.logo_footer {
  text-align: center;
}

.last_text {
  padding-top: 30px;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.href_footer a {
  color: white;
  padding-top: 40px;
}
.href_footer {
  padding-top: 40px;
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.hidden {
  display: none;
}

.color_footer {
  background: var(--1, #2a2367);
  position: absolute;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 550px;
}