@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: #fff;
  max-width: 1920px;
  width: 1920px;
  margin: 0px auto;
  padding: 0px 140px;
  overflow-x: hidden;
}

.phone_color {
  position: absolute;
  background: rgb(14, 211, 221);
  width: 200vh;
  height: 9999px;
  left: 0px;
  top: 0px;
  z-index: -1;
  opacity: 0.13;
}

.top_header {
  display: flex;
  justify-content: space-between;
  padding: 42px 0px;
  align-items: center;
}

.menu ul {
  display: flex;
  gap: 27px;
  color: var(--1, #2a2367);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.phone_num_top_header {
  display: flex;
  gap: 10px;
}

.phone_num_top_header p {
  color: var(--1, #2a2367);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.time_top_header p {
  color: var(--1, #2a2367);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 34%;
}

.phone_num_top_header {
  align-items: center;
}

.button_top_header button {
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 177px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--2, #6b5af9);
}

h1 {
  color: var(--1, #2a2367);
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 span {
  color: #6b5af9;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main_text_header p {
  color: #2a2367;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_text_header p span {
  color: #6b5af9;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text_main_header {
  display: flex;
  position: relative;
}

.photo_main_header {
  position: absolute;
  z-index: -100;
  top: -70px;
  left: 35%;
}




.main_text_header {
  padding-top: 70px;
}

.main_text_header h1 {
  padding-bottom: 33px;
}

.main_text_header div {
  padding-top: 116px;
}

.main_text_header button {
  width: 275px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--2, #6b5af9);
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.main_text_header div p {
  padding-top: 20px;
  color: var(--2, #6b5af9);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.4%; /* 16.488px */
}

.prioritet {
  padding-top: 400px;
}

.prioritet h1 {
  text-align: center;
}

.grid_prioritet div {
  opacity: 0.9;
  width: 100%;
  min-height: 200px;
  height: auto;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ffffff;
  margin: 0px auto;
  text-align: center;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.grid_prioritet {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px auto;
  text-align: center;
  max-width: 1250px;
  gap: 55px;
}

.num_gridP {
  color: #fff;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  padding-left: 15px;
}

.nameP {
  color: #2a2367;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  padding-left: 15px;
  text-decoration: underline 2px red;
  text-underline-offset: 10px;

}

.grid_prioritet hr {
  width: 175px;
  height: 2px;
  background: #e37575;
  margin-left: 13px;
  margin-top: 10px;
}

.descriptP {
  color: var(--1, #2a2367);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding: 16px 38px 0px 15px;
}

.cell_sec_p_but {
  padding-top: 55px;
  text-align: center;
}

.cell_sec_p_but button {
  width: 275px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--2, #6b5af9);
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  opacity: 0.9;
}
